		html {
            height: 100%;
            box-sizing: border-box;
        }

        *,
        *:before;
        *:after {
            box-sizing: inherit;
        }
        
        .navbar {
            opacity: 60% !important;
            background-color: rgba(0, 0, 0, 0.75);
            border: 1px solid transparent;
        }


        .jumbotron {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(banner4.jpg);
            color: peachpuff;
            font: 400 130px/0.8 'Cookie';
        }
        
        h1 {
            font-size: 100px !important;
        }
        
        p1 {
            font-size: 40px;
        }
        
        a {
            color: white !important;
            font-weight: bold;
        }  

        .nav > li > a:hover {
            text-decoration: none;
            background-color: transparent;
            color: peachpuff !important;
        }

        .navbar-nav li.active a {
            color: peachpuff !important;
            background-color: transparent !important;
        }
        
        .dropdown-menu {
            opacity: 60% !important;
            background-color: rgba(0, 0, 0, 0.75);
        }
        
        .dropdown-menu a:hover {
            opacity: 60% !important;
            background-color: rgba(0, 0, 0, 0.75) !important;
            color: peachpuff !important;
        }

        .footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 50px;
            text-align: center;
            background-color: #4d4d4d !important;
			overflow: auto;
        }

        body {
            background-color: black;
			color: white;
            position: relative;
            margin: 0;
            padding-bottom: 180px;
            min-height: 100%;
        }

        .container {
            text-align: center;
        }
        
        h3 {
            font: 400 60px/0.8 'Cookie';
        }
		
		h4 {
			font-family: 'Karla', sans-serif;
			font-size: 20px;
			font-weight: bold;
		}
        
        p3 {
            font-family: 'Karla', sans-serif;
            font-size: 30px;
        }
        
        .col-sm-4 > .panel > .panel-body {
            min-height: 300px;
            background-color: #4d4d4d !important;
			color: white !important;
        }
		
		.col-sm-3 > .panel > .panel-body {
			background-color: #4d4d4d !important;
			color: white !important;
		}
		
		.col-sm-6 > .panel > .panel-body {
			background-color: #4d4d4d !important;
			color: white !important;
		}
        
        .carousel {
            margin: auto;
        }
		
		
		
		
		
		.panel-footer.panel-custom {
			background-image: none;
			background-color: #4d4d4d !important;
		}
		
        
      .table > tbody > tr > td, .table > tfoot > tr > td {
            vertical-align: middle;
        }
        
        
            table#cart tbody td .form-control {
                    width:20%;
                    display: inline !important;
            }
            
            .actions .btn{
                    width:36%;
                    margin:1.5em 0;
            }
	
            .actions .btn-info{
                    float:left;
            }
            
            .actions .btn-danger{
                float:right;
            }
	
            table#cart thead { display: none; }
            table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
            table#cart tbody tr td:first-child { background: #333; color: #fff; }
            table#cart tbody td:before {
                content: attr(data-th); font-weight: bold;
                display: inline-block; width: 8rem;
            }
	
            table#cart tfoot td{display:block; }
            table#cart tfoot td .btn{display:block;}
        }

		
		
